<html>
    <head>

    </head>
        <body style="background-color: teal;">
            
            <div style="border-radius:20px;background:linear-gradient(rgb(233, 107, 107),rgb(69, 69, 229));border: rgb(18, 17, 17) solid 5px;background-color:rgb(184, 184, 184);padding:4px;margin-left:700px;color:blue;width:350px;">
            
            {%  for i in get_flashed_messages() %}
            <p style="color: rgb(8, 7, 7);">{{ i }}</p>
            {%endfor%}

                <form method="post">
                    <label for="username"> Username: </label><br>
                    <input name="username" type="text"><br><br>
                    <label for="username" > Password: </label><br>
                    <input name="password" type="password"><br><br>
                    <button type="submit" style="width:60px;border:black solid 2px;height:30px;border-radius:10px;">Login</button>
                </form>
    </body>
</div>
</html>