<html>
    <head>

    </head>
        <body style="background-color: teal;">
            
            <div style="border-radius:20px;background:linear-gradient(rgb(233, 107, 107),rgb(69, 69, 229));border: rgb(18, 17, 17) solid 5px;background-color:rgb(184, 184, 184);padding:4px;margin-left:700px;color:blue;width:350px;">
            
            {%  for i in get_flashed_messages() %}
            <p style="color: rgb(8, 7, 7);">{{ i }}</p>
            {%endfor%}
                {% if request.method == 'GET'%}
                <h3>{{ qzs['_id'] }}</h3>
                {% endif%}
                <form method="post">
                    <label for="title"> Title: </label><br>
                    <input name="title" type="text" value={{ qzs['_id'] }}><br><br>
                    <label for="description" > Discription: </label><br>
                    <input name="description" type="text" value= {{ qzs['description'] }}><br><br>
                 
                    <label for="questions">Questions</label><br>
                    <input name="questions" type="text" value= {{ qzs['questions'] }}><br><br>
                   
                    
                    <label for="duration">Duration:</label><br>
                    <input name="duration" type="text" value= {{ qzs['duration'] }}><br><br>
       
                     
                    <label for="solvers">Solvers:</label><br>
                    <input name="solvers" type="text" value= '{{ ' '.join(qzs['solvers']) }}'><br><br>
       
                    <button type="submit" style="width:60px;border:black solid 2px;height:30px;border-radius:10px;">{%if qzs %} Update {%else%}Create{%endif%}</button>
                </form>
    </body>
</div>
</html>